@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

// varibles
$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

// base
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
}

// slider container
.slider {
  padding: 2rem;
  margin-top: 2rem;
  max-width: 450px;
  position: relative;

  .slide {
    .user {
      position: relative;
      display: grid;
      justify-items: center;
      align-items: center;

      .patternBg{
        width: 400px;
        height: 370px;
        position: absolute;
        top: -35px;
        left: -50px;
        z-index: -1000;
      }
      .image {
        width: 300px;
        margin: 0 auto;
        img {
          width: 100%;
          border-radius: 0.5rem;
        }
      }
    }

    .testimonial {
      position: relative;
      margin-top: 10rem;

      .quotesBg {
        position: absolute;
        top: -70px;
        right: 35%;
        z-index: -1000;
      }
      h1 {
        font-weight: 300;
        color: $dark-blue;
        margin-top: -0.5rem;
      }
      .name {
        font-weight: 700;
        color: $dark-blue;
      }
      .profession {
        font-weight: 500;
        color: $grayish-blue;
      }
    }
  }

  .button {
    width: 125px;
    display: flex;
    border-radius: 2rem;
    box-shadow: 3px 10px 6px -6px #777;
    background: white;
    position: absolute;
    top: 300px;
    right: 33%;
    z-index: 1000;

    :hover{
      background: $grayish-blue;
    }
    .btn {
      cursor: pointer;
      width: 50%;
      padding: 1rem 0;
    }
    .next {
      border-radius: 0 2rem 2rem 0;
    }
    .prev {
      border-radius: 2rem 0 0 2rem;
    }
  }
  
}
.curveBg {
  width: 100%;
  position: absolute;
  bottom: -400px;
  left: 0;
  z-index: -1000;
}
.attribution { 
  position: absolute;
  bottom: -400px;
  font-size: 11px; 
  text-align: center; 
  a {
    color: hsl(228, 45%, 44%); 
  }
}


// media query
@media screen  and (min-width: 500px){
  .slider{
    .slide {
      .user {
        .patternBg {
          width: 440px;
          height: 370px;
          position: absolute;
          top: -35px;
          left: -50px;
          z-index: -1000;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){

  .slider {
    max-width: 1050px;
    .slide {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .user {
        order: 2;
        .patternBg {
          width: 600px;
          height: 540px;
          top: -50px;
          left: -60px;
        }
        .image {
          width: 450px
        }
      }
      .testimonial {
        text-align: left;
        margin-top: 8rem;
        .quotesBg {
          left: 60px;
        }
        h1 {
          margin-right: -10rem;
          font-size: 2rem;
        }
      }
    }

    .button {
      top: 450px;
      right: 300px;
    }
  }
  .curveBg {
    bottom: 0px;
    max-width: 50%;
  }
  .attribution {
    bottom: 0;
  }
}