@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
}

.slider {
  padding: 2rem;
  margin-top: 2rem;
  max-width: 450px;
  position: relative;
}

.slider .slide .user {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slide .user .patternBg {
  width: 400px;
  height: 370px;
  position: absolute;
  top: -35px;
  left: -50px;
  z-index: -1000;
}

.slider .slide .user .image {
  width: 300px;
  margin: 0 auto;
}

.slider .slide .user .image img {
  width: 100%;
  border-radius: 0.5rem;
}

.slider .slide .testimonial {
  position: relative;
  margin-top: 10rem;
}

.slider .slide .testimonial .quotesBg {
  position: absolute;
  top: -70px;
  right: 35%;
  z-index: -1000;
}

.slider .slide .testimonial h1 {
  font-weight: 300;
  color: #202046;
  margin-top: -0.5rem;
}

.slider .slide .testimonial .name {
  font-weight: 700;
  color: #202046;
}

.slider .slide .testimonial .profession {
  font-weight: 500;
  color: #babacf;
}

.slider .button {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  -webkit-box-shadow: 3px 10px 6px -6px #777;
          box-shadow: 3px 10px 6px -6px #777;
  background: white;
  position: absolute;
  top: 300px;
  right: 33%;
  z-index: 1000;
}

.slider .button :hover {
  background: #babacf;
}

.slider .button .btn {
  cursor: pointer;
  width: 50%;
  padding: 1rem 0;
}

.slider .button .next {
  border-radius: 0 2rem 2rem 0;
}

.slider .button .prev {
  border-radius: 2rem 0 0 2rem;
}

.curveBg {
  width: 100%;
  position: absolute;
  bottom: -400px;
  left: 0;
  z-index: -1000;
}

.attribution {
  position: absolute;
  bottom: -400px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 500px) {
  .slider .slide .user .patternBg {
    width: 440px;
    height: 370px;
    position: absolute;
    top: -35px;
    left: -50px;
    z-index: -1000;
  }
}

@media screen and (min-width: 768px) {
  .slider {
    max-width: 1050px;
  }
  .slider .slide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .slider .slide .user {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .slider .slide .user .patternBg {
    width: 600px;
    height: 540px;
    top: -50px;
    left: -60px;
  }
  .slider .slide .user .image {
    width: 450px;
  }
  .slider .slide .testimonial {
    text-align: left;
    margin-top: 8rem;
  }
  .slider .slide .testimonial .quotesBg {
    left: 60px;
  }
  .slider .slide .testimonial h1 {
    margin-right: -10rem;
    font-size: 2rem;
  }
  .slider .button {
    top: 400px;
    right: 250px;
  }
  .curveBg {
    bottom: 0px;
    max-width: 50%;
  }
  .attribution {
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */